.quadrado {
  background: white;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.quadrado:focus {
  outline: none;
}

/* Tabuleiro */
.boder-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Jogo */
.jogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* Jogo Info */
ol, ul {
  padding-left: 30px;
}

.jogo-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}